# Stock movement prediction

In [18]:
# import library
import numpy as np
import pandas as pd

## data preprocess

In [90]:
# read data
df = pd.read_csv('stock.csv')
df.Date = pd.to_datetime(df.Date)
print(df.columns)
df.head()

Index(['Date', 'Open Price', 'Close Price', 'High Price', 'Low Price',
       'Volume'],
      dtype='object')

        Date  Open Price  Close Price  High Price  Low Price      Volume
0 2009-01-02      902.99       931.80      934.73     899.35  4048270080
1 2009-01-05      929.17       927.45      936.63     919.53  5413910016
2 2009-01-06      931.17       934.70      943.85     927.28  5392620032
3 2009-01-07      927.45       906.65      927.45     902.37  4704940032
4 2009-01-08      905.73       909.73      910.00     896.81  4991549952

### new attribute

In [91]:
# average line
# 
avg_line = []
LMean = []
SMean = []
df2 = df.copy().set_index('Date')
for date in df2.index:
    mean30 = df2.loc[date - pd.Timedelta('30D'): date]
    mean30 = mean30.Volume.mean()
    
    mean15 = df2.loc[date - pd.Timedelta('15D'): date]
    mean15 = mean15.Volume.mean()
    
    mean7 = df2.loc[date - pd.Timedelta('7D'): date]
    mean7 = mean7.Volume.mean()
  
    mean_long = mean15/mean30
    mean_short= mean7/mean15 
    
    LMean.append(mean_long)
    SMean.append(mean_short)
    """  
    if mean_short/mean_long>=1:
        if mean_long > 1 and mean_short > 1:
            avg_line.append(4)
        elif mean_long > 1 and mean_short<1:
            avg_line.append(3)
        elif mean_long < 1 and mean_short > 1:
            avg_line.append(2)
        elif mean_long < 1 and mean_short > 1:
            avg_line.append(1)
        else:
            avg_line.append(0)
    elif rate_short/rate_long<1:
        if mean_long > 1 and mean_short > 1:
            avg_line.append(-4)
        elif mean_long > 1 and mean_short<1:
            avg_line.append(-3)
        elif mean_long < 1 and mean_short > 1:
            avg_line.append(-2)
        elif mean_long < 1 and mean_short > 1:
            avg_line.append(-1)
        else:
            avg_line.append(0)
    """        
# df['Rate'] = avg_line
df['Long Mean'] = LMean
df['Short Mean'] = SMean

In [92]:
# ratio 
open_rate = [0]
close_rate = [0]
high_rate = [0]
low_rate = [0]
for i in range(1, df.Date.size):
    open_rate.append(df['Open Price'][i] / df['Open Price'][i-1])
    close_rate.append(df['Close Price'][i] / df['Close Price'][i-1])
    high_rate.append(df['High Price'][i] / df['High Price'][i-1])
    low_rate.append(df['Low Price'][i] / df['Low Price'][i-1])
    
df['Open Rate'] = open_rate
df['Close Rate'] = close_rate
df['High Rate'] = high_rate
df['Low Rate'] = low_rate

df.head()

,Date,Open Price,Close Price,High Price,Low Price,Volume,Long Mean,Short Mean,Open Rate,Close Rate,High Rate,Low Rate
0,2009-01-02,902.99,931.80,934.73,899.35,4048270080,1.0,1.0,0.000000,0.000000,0.000000,0.000000
1,2009-01-05,929.17,927.45,936.63,919.53,5413910016,1.0,1.0,1.028993,0.995332,1.002033,1.022438
2,2009-01-06,931.17,934.70,943.85,927.28,5392620032,1.0,1.0,1.002152,1.007817,1.007708,1.008428
3,2009-01-07,927.45,906.65,927.45,902.37,4704940032,1.0,1.0,0.996005,0.969990,0.982624,0.973136
4,2009-01-08,905.73,909.73,910.00,896.81,4991549952,1.0,1.0,0.976581,1.003397,0.981185,0.993838

In [93]:
# rise tomorrow
rise_1 = []
for i in range(0, df['Close Price'].size-1):
    if df['Close Price'][i+1] - df['Close Price'][i] >= 0:
        rise_1.append(1)
    else: rise_1.append(0)
rise_1.append(0)
df['Rise'] = rise_1
df.head()

,Date,Open Price,Close Price,High Price,Low Price,Volume,Long Mean,Short Mean,Open Rate,Close Rate,High Rate,Low Rate,Rise
0,2009-01-02,902.99,931.80,934.73,899.35,4048270080,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0
1,2009-01-05,929.17,927.45,936.63,919.53,5413910016,1.0,1.0,1.028993,0.995332,1.002033,1.022438,1
2,2009-01-06,931.17,934.70,943.85,927.28,5392620032,1.0,1.0,1.002152,1.007817,1.007708,1.008428,0
3,2009-01-07,927.45,906.65,927.45,902.37,4704940032,1.0,1.0,0.996005,0.969990,0.982624,0.973136,1
4,2009-01-08,905.73,909.73,910.00,896.81,4991549952,1.0,1.0,0.976581,1.003397,0.981185,0.993838,0

### splitting testing/training data

In [98]:
x_train = df[df.Date.dt.year <= 2017].drop(['Date', 'Open Price', 'Close Price', 'High Price', 'Low Price', 'Rise'], axis=1)
y_train = df[df.Date.dt.year <= 2017].Rise

x_test = df[df.Date.dt.year > 2017].drop(['Date', 'Open Price', 'Close Price', 'High Price', 'Low Price', 'Rise'], axis=1)
y_test = df[df.Date.dt.year > 2017].Rise

x_train.head()

,Open Price,Close Price,High Price,Low Price,Volume,Long Mean,Short Mean,Open Rate,Close Rate,High Rate,Low Rate
0,902.99,931.80,934.73,899.35,4048270080,1.0,1.0,0.000000,0.000000,0.000000,0.000000
1,929.17,927.45,936.63,919.53,5413910016,1.0,1.0,1.028993,0.995332,1.002033,1.022438
2,931.17,934.70,943.85,927.28,5392620032,1.0,1.0,1.002152,1.007817,1.007708,1.008428
3,927.45,906.65,927.45,902.37,4704940032,1.0,1.0,0.996005,0.969990,0.982624,0.973136
4,905.73,909.73,910.00,896.81,4991549952,1.0,1.0,0.976581,1.003397,0.981185,0.993838

## Logistic Regression

In [99]:
from sklearn.linear_model import LogisticRegression as LR
clf = LR(random_state=0, solver='lbfgs')
clf = clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.5238095238095238

## SVM

In [100]:
from sklearn.svm import SVC
clf = SVC(gamma='scale')
clf = clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.5238095238095238

## NN

In [101]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=0.5, hidden_layer_sizes=(5, 2), random_state=1)
print(clf)
clf = clf.fit(x_train, y_train)
clf.score(x_test, y_test)

MLPClassifier(activation='relu', alpha=0.5, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

0.47619047619047616